/* Custom CSS */

/* Navbar styles */
.navbar {
  background-color: #007bff; /* Bootstrap primary color */
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-buttons button {
  margin-left: 10px;
}

/* Form styles */
form {
  margin-bottom: 20px; /* Added margin to separate form from other elements */
}

.category-form {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.category-form select {
  flex: 1; /* Make select element grow to fill available space */
  margin-right: 10px; /* Add spacing between select and button */
}

.category-form button {
  width: 100px; /* Set fixed width for the button */
}

/* Product details */
.product-details {
  margin-top: 20px;
  border: 1px solid #ccc;
  padding: 20px;
}

.product-details input,
.product-details textarea,
.product-details select {
  margin-bottom: 10px;
  width: calc(100% - 20px); /* Set width to fill available space minus padding */
}

.product-details label {
  font-weight: bold;
}

.product-details button {
  margin-top: 10px;
  width: 100%; /* Make button fill available width */
}
