
.star-rating {
    color: #f0a500; 
    font-size: 24px;
  }
  
  .star {
    margin-right: 3px; 
  }
  
  /* CSS for reviews */
  .reviews {
    margin-top: 20px;
  }

  .product{
    margin-left:60px;
    padding-bottom:20px;
  }
  
  .btn{
    background-color: #f0a500;
    border-radius: 20px;
    width:300px;
    height:50px;

  }
  .review {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 20px;
  }
  
  .review h5 {
    margin-bottom: 5px;
  }
  