
.cart-item {
    border: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 15px;
    width:600px;
  
  }

  
  
  .img-div {
    width: 100%;
    text-align: center;
  }
  
  .img-div img {
    max-width: 100%;
    max-height: 150px;
    display: inline-block;
  }
  
  .card-title {
    font-size: 20px;
    margin-top: 0;
  }
  
  .card-text {
    margin-bottom: 5px;
  }
  
  .actual-price, .discount-price {
    font-weight: bold;
  }
  
  .quantity {
    display: flex;
    align-items: center;
  }
  
  .quantity-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .quantity-value {
    margin: 0 10px;
    font-size: 18px;
  }
  
  .checkout{
    width:400px;
    height:50px;
    position: relative;
    font-size: 25px;
  }
  .total-bill {
    
    justify-content: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;

    position: relative;
    bottom: 480px;
    right: -800px;
    background-color: #f8f9fa;
    padding: 10px;
    border: 1px solid #ccc;
    width:500px;
    height:250px;
  }
  