
<div class="modal-body">
  <div class="container-fluid">
<div class="modal-dialog modal-dialog-scrollable">
  <h2>Add Category and Products</h2>
  <form id="categoryProductForm">

    
    <div class="form-group">
      <label for="categoryName">Category Name:</label>
      <input type="text" id="categoryName" name="categoryName" [(ngModel)]="categoryList.categoryName" required>
    </div>
    
    <h3>Product Details</h3>
    <div *ngFor="let product of categoryList.productList; let i = index">
      <div class="row">
      <div class="col-md-6">
        <label for="productName{{i}}">Product Name:</label>
        <input type="text" id="productName{{i}}" name="productName{{i}}" [(ngModel)]="product.productName" required>
      </div>
      <div class="col-md-6">
        <label for="brandName{{i}}">Brand Name:</label>
        <input type="text" id="brandName{{i}}" name="brandName{{i}}" [(ngModel)]="product.brandName" required>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <label for="productQty{{i}}">Quantity:</label>
        <input type="number" id="productQty{{i}}" name="productQty{{i}}" [(ngModel)]="product.productQty" required>
      </div>
      <div class="col-md-4">
        <label for="productPrice{{i}}">Price:</label>
        <input type="number" id="productPrice{{i}}" name="productPrice{{i}}" [(ngModel)]="product.productPrice" required>
      </div>
      <div class="col-md-4">
        <label for="discountPercentage{{i}}">Discount Percentage:</label>
        <input type="number" id="discountPercentage{{i}}" name="discountPercentage{{i}}" [(ngModel)]="product.discountPercentage">
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <label for="description{{i}}">Description:</label>
        <textarea id="description{{i}}" name="description{{i}}" [(ngModel)]="product.description" required></textarea>
      </div>
      </div>
      <div class="row">
      <div class="col-md-12">
        <label for="imageUrl{{i}}">Image URL:</label>
        <input type="text" id="imageUrl{{i}}" name="imageUrl{{i}}" [(ngModel)]="product.imageUrl" required>
      </div>
      </div>
      <hr>
    </div>
</form>
  </div>
  </div>


  <div>
<button (click)="addProduct()" type="submit" class="btn btn-primary">+</button>
</div>
